# Discord
TOKEN=

CLIENT_ID=

CLIENT_SECRET=

# Twitch

IRC_TOKEN=oauth:5x6y5qy3o35o5z9c8g67why853ee6t

OAUTH_ID=h4cilkx9y4vobimlchi8r834dp01h5

OAUTH_SECRET=h0atruqruwc0yleythup79tcl74c10

# FortniteTracker.com

TRN_API_KEY=3e95a195-85bf-4e6c-8aed-123224795a70

# FortniteAPI.io

IO_API_KEY=a91fa4b2-9bb2a28b-e8410d26-eacd68a4

# FortnitePy

DEVICE_ID=

ACCOUNT_ID=

SECRET=
